<div class="container">
    <div class="form-container">
        <h1 class="heading">Welcome back! Login here</h1>
        <form action="/users/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
            <p>Don't have an account? <a href="/users/signup">Sign up</a></p>
        </form>
    </div>
</div>